In [10]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
import pandas_datareader.data as web

# package for dates
import datetime as dt

In [11]:
start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

start

datetime.datetime(2015, 1, 1, 0, 0)

In [15]:
stocks = ['AAPL', 'TSLA', 'IBM', 'FB']

In [16]:
df = web.DataReader(stocks, 'yahoo', start, end)
df

Attributes        High                                             Low  \
Symbols           AAPL          FB         IBM        TSLA        AAPL
Date
2014-12-31  113.129997   79.800003  161.500000  225.679993  110.209999
2015-01-02  111.440002   78.930000  163.309998  223.250000  107.349998
2015-01-05  108.650002   79.250000  161.270004  216.500000  105.410004
2015-01-06  107.430000   77.589996  159.960007  214.199997  104.629997
2015-01-07  108.199997   77.360001  157.199997  214.779999  106.699997
2015-01-08  112.150002   78.230003  159.039993  213.800003  108.699997
2015-01-09  113.250000   78.620003  160.339996  209.979996  110.209999
2015-01-12  112.629997   78.000000  159.250000  204.470001  108.800003
2015-01-13  112.800003   78.080002  159.970001  207.610001  108.910004
2015-01-14  110.489998   77.199997  156.490005  195.199997  108.500000
2015-01-15  110.059998   76.570000  156.970001  195.750000  106.660004
2015-01-16  107.580002   75.320000  157.630005  194.490005  105.199997
2015-01-20  108.970001   76.309998  157.330002  194.119995  106.500000
2015-01-21  111.059998   77.300003  154.500000  198.679993  108.269997
2015-01-22  112.470001   77.750000  155.720001  203.240005  109.720001
2015-01-23  113.750000   78.190002  157.600006  203.500000  111.529999
2015-01-26  114.360001   78.470001  159.460007  208.619995  112.800003
2015-01-27  112.480003   76.879997  155.089996  208.029999  109.029999
2015-01-28  118.120003   77.639999  154.529999  206.369995  115.309998
2015-01-29  119.190002   78.019997  155.580002  205.979996  115.559998
2015-01-30  120.000000   78.160004  155.240005  207.470001  116.849998
2015-02-02  119.169998   76.139999  154.660004  211.949997  116.080002
2015-02-03  119.089996   75.580002  158.600006  220.369995  117.610001
2015-02-04  120.510002   76.349998  158.710007  221.479996  118.309998
2015-02-05  120.230003   75.980003  158.589996  225.479996  119.250000
2015-02-06  120.250000   75.699997  158.080002  223.399994  118.449997
2015-02-09  119.839996   74.830002  157.500000  217.929993  118.430000
2015-02-10  122.150002   75.339996  158.559998  220.500000  120.160004
2015-02-11  124.919998   76.750000  159.089996  214.740005  122.500000
2015-02-12  127.480003   76.870003  159.500000  203.089996  125.570000
...                ...         ...         ...         ...         ...
2018-07-26  195.960007  180.130005  149.270004  310.700012  193.610001
2018-07-27  195.190002  179.929993  147.139999  307.690002  190.100006
2018-07-30  192.199997  175.300003  146.240005  296.100006  189.070007
2018-07-31  192.139999  174.240005  145.800003  298.320007  189.339996
2018-08-01  201.759995  175.080002  145.190002  303.000000  197.309998
2018-08-02  208.380005  176.789993  143.360001  349.989990  200.350006
2018-08-03  208.740005  178.850006  147.919998  355.000000  205.479996
2018-08-06  209.250000  185.789993  147.199997  354.980011  207.070007
2018-08-07  209.500000  188.300003  147.639999  387.459991  206.759995
2018-08-08  207.809998  186.850006  147.429993  382.640015  204.520004
2018-08-09  209.779999  186.570007  145.940002  367.010010  207.199997
2018-08-10  209.100006  182.100006  145.070007  360.000000  206.669998
2018-08-13  210.949997  182.610001  144.300003  363.190002  207.699997
2018-08-14  210.559998  181.990005  143.820007  359.200012  208.259995
2018-08-15  210.740005  180.869995  144.000000  344.489990  208.330002
2018-08-16  213.809998  180.500000  145.679993  342.279999  211.470001
2018-08-17  217.949997  176.220001  146.389999  326.769989  213.160004
2018-08-20  219.179993  174.570007  147.160004  308.500000  215.110001
2018-08-21  217.190002  174.169998  147.119995  324.790009  214.029999
2018-08-22  216.360001  174.240005  146.160004  323.880005  213.839996
2018-08-23  217.050003  175.550003  145.520004  327.320007  214.600006
2018-08-24  216.899994  174.820007  146.089996  323.850006  215.110001
2018-08-27  218.740005  178.669998  147.619995  322.440002  216.330002
2018-08-28  220.539993  178.240005  146.990005  318.880005  218.919998
2018-08-29  223.490005  176.789993  147.929993  311.850006  219.410004
2018-08-30  228.259995  179.789993  147.300003  304.600006  222.399994
2018-08-31  228.869995  177.619995  146.779999  305.309998  226.000000
2018-09-04  229.179993  173.889999  146.190002  298.190002  226.630005
2018-09-05  229.669998  171.130005  146.750000  286.779999  225.100006
2018-09-06  227.350006  166.979996  147.660004  291.170013  221.300003

Attributes                                            Open              \
Symbols             FB         IBM        TSLA        AAPL          FB
Date
2014-12-31   77.860001  160.380005  222.250000  112.820000   79.540001
2015-01-02   77.699997  161.000000  213.259995  111.389999   78.580002
2015-01-05   76.860001  159.190002  207.160004  108.290001   77.980003
2015-01-06   75.360001  155.169998  204.210007  106.540001   77.230003
2015-01-07   75.820000  154.029999  209.779999  107.199997   76.760002
2015-01-08   76.080002  155.550003  210.009995  109.230003   76.739998
2015-01-09   77.199997  157.250000  204.960007  112.669998   78.199997
2015-01-12   76.209999  155.759995  199.250000  112.599998   77.839996
2015-01-13   75.849998  155.679993  200.910004  111.430000   77.230003
2015-01-14   76.029999  153.740005  185.000000  109.040001   76.419998
2015-01-15   73.540001  154.160004  190.000000  110.000000   76.400002
2015-01-16   73.839996  153.820007  189.649994  107.029999   74.040001
2015-01-20   74.820000  154.029999  187.039993  107.839996   75.720001
2015-01-21   75.849998  151.070007  189.509995  108.949997   76.160004
2015-01-22   76.680000  151.759995  195.199997  110.260002   77.169998
2015-01-23   77.040001  154.889999  198.330002  112.300003   77.650002
2015-01-26   77.290001  155.770004  201.050003  113.739998   77.980003
2015-01-27   75.629997  152.589996  203.300003  112.419998   76.709999
2015-01-28   76.000000  151.550003  198.419998  117.629997   76.900002
2015-01-29   74.209999  149.520004  196.500000  116.320000   76.849998
2015-01-30   75.750000  153.039993  203.000000  118.400002   78.000000
2015-02-02   73.750000  151.509995  203.300003  118.050003   76.110001
2015-02-03   73.860001  154.750000  211.270004  118.500000   75.190002
2015-02-04   75.010002  156.699997  216.800003  118.500000   75.089996
2015-02-05   75.209999  157.149994  219.639999  120.019997   75.709999
2015-02-06   74.250000  156.229996  216.500000  120.019997   75.680000
2015-02-09   73.449997  155.399994  211.990005  118.550003   74.050003
2015-02-10   74.500000  155.080002  215.000000  120.169998   74.849998
2015-02-11   75.029999  157.169998  207.279999  122.769997   75.089996
2015-02-12   75.889999  158.089996  193.279999  126.059998   76.860001
...                ...         ...         ...         ...         ...
2018-07-26  173.750000  146.630005  303.640015  194.610001  174.889999
2018-07-27  173.000000  144.660004  295.339996  194.990005  179.869995
2018-07-30  166.559998  144.690002  286.130005  191.899994  175.300003
2018-07-31  170.000000  144.160004  289.070007  190.300003  170.669998
2018-08-01  170.899994  143.339996  293.000000  199.130005  173.929993
2018-08-02  170.270004  142.330002  323.160004  200.580002  170.679993
2018-08-03  176.149994  143.000000  342.529999  207.029999  177.690002
2018-08-06  178.380005  145.570007  341.820007  208.000000  178.970001
2018-08-07  183.720001  146.350006  339.149994  209.320007  186.500000
2018-08-08  183.759995  146.240005  367.119995  206.050003  184.750000
2018-08-09  182.479996  144.729996  345.730011  207.279999  185.850006
2018-08-10  179.419998  143.880005  346.000000  207.360001  182.039993
2018-08-13  178.899994  142.529999  349.019989  207.699997  180.100006
2018-08-14  178.619995  142.929993  347.100006  210.160004  180.710007
2018-08-15  174.779999  142.000000  332.140015  209.220001  179.339996
2018-08-16  174.009995  144.369995  333.820007  211.750000  180.419998
2018-08-17  172.039993  144.690002  303.529999  213.440002  174.500000
2018-08-20  170.910004  146.149994  288.200012  218.100006  174.039993
2018-08-21  171.389999  145.889999  309.000000  216.800003  172.809998
2018-08-22  172.130005  145.190002  314.670013  214.100006  172.210007
2018-08-23  172.830002  144.750000  318.100006  214.649994  173.089996
2018-08-24  172.919998  144.869995  319.399994  216.600006  173.699997
2018-08-27  175.789993  146.520004  308.809998  217.149994  175.990005
2018-08-28  175.830002  146.190002  311.190002  219.009995  178.100006
2018-08-29  174.750000  146.600006  303.690002  220.149994  176.300003
2018-08-30  175.699997  145.250000  297.720001  223.250000  175.899994
2018-08-31  174.979996  145.539993  298.600006  226.509995  177.149994
2018-09-04  168.800003  144.809998  288.000000  228.410004  173.500000
2018-09-05  166.669998  145.050003  277.179993  228.990005  169.490005
2018-09-06  160.000000  145.539993  278.880005  226.229996  166.979996

Attributes     ...           Close                   Volume               \
Symbols        ...             IBM        TSLA         AAPL           FB
Date           ...
2014-12-31     ...      160.440002  222.410004   41403400.0   20040400.0
2015-01-02     ...      162.059998  219.309998   53204600.0   18177500.0
2015-01-05     ...      159.509995  210.089996   64285500.0   26452200.0
2015-01-06     ...      156.070007  211.279999   65797100.0   27399300.0
2015-01-07     ...      155.050003  210.949997   40105900.0   22045300.0
2015-01-08     ...      158.419998  210.619995   59364500.0   23961000.0
2015-01-09     ...      159.110001  206.660004   53699500.0   21138700.0
2015-01-12     ...      156.440002  202.210007   49650800.0   19190200.0
2015-01-13     ...      156.809998  204.250000   67091900.0   25179600.0
2015-01-14     ...      155.800003  192.690002   48337000.0   25918600.0
2015-01-15     ...      154.570007  191.869995   60014000.0   34134000.0
2015-01-16     ...      157.139999  193.070007   78513300.0   21791500.0
2015-01-20     ...      156.949997  191.929993   49899900.0   22751300.0
2015-01-21     ...      152.089996  196.570007   48575900.0   25096700.0
2015-01-22     ...      155.389999  201.619995   53796400.0   19519500.0
2015-01-23     ...      155.869995  201.289993   46464800.0   16322600.0
2015-01-26     ...      156.360001  206.550003   55615000.0   19260800.0
2015-01-27     ...      153.669998  205.979996   95568700.0   20110000.0
2015-01-28     ...      151.550003  199.369995  146477100.0   53306400.0
2015-01-29     ...      155.479996  205.199997   84436400.0   61293500.0
2015-01-30     ...      153.309998  203.600006   83745500.0   42649500.0
2015-02-02     ...      154.660004  210.940002   62739100.0   41955300.0
2015-02-03     ...      158.470001  218.360001   51915700.0   26874900.0
2015-02-04     ...      156.960007  218.550003   70149700.0   20277400.0
2015-02-05     ...      157.910004  220.990005   42246200.0   15062600.0
2015-02-06     ...      156.720001  217.360001   43706600.0   20989300.0
2015-02-09     ...      155.750000  217.479996   38889800.0   16194300.0
2015-02-10     ...      158.559998  216.289993   62008500.0   15811300.0
2015-02-11     ...      158.199997  212.800003   73561800.0   20877400.0
2015-02-12     ...      158.520004  202.880005   74474500.0   17235000.0
...            ...             ...         ...          ...          ...
2018-07-26     ...      146.710007  306.649994   19076000.0  169803700.0
2018-07-27     ...      145.149994  297.179993   24024000.0   60073700.0
2018-07-30     ...      145.490005  290.170013   21029500.0   65280800.0
2018-07-31     ...      144.929993  298.140015   39373000.0   40356500.0
2018-08-01     ...      143.500000  300.839996   67935700.0   34042100.0
2018-08-02     ...      142.960007  349.540009   62404000.0   32400000.0
2018-08-03     ...      147.699997  348.170013   33447400.0   24763400.0
2018-08-06     ...      146.029999  341.989990   25425400.0   49716200.0
2018-08-07     ...      147.009995  379.570007   25587400.0   33398600.0
2018-08-08     ...      146.889999  370.339996   22525500.0   22205200.0
2018-08-09     ...      144.770004  352.450012   23469200.0   19696700.0
2018-08-10     ...      144.479996  355.489990   24611200.0   21500400.0
2018-08-13     ...      142.710007  356.410004   25869100.0   17369400.0
2018-08-14     ...      143.360001  347.640015   20748000.0   19102000.0
2018-08-15     ...      143.910004  338.690002   28807600.0   33020200.0
2018-08-16     ...      145.339996  335.450012   28500400.0   31351800.0
2018-08-17     ...      146.059998  305.500000   35427000.0   24893200.0
2018-08-20     ...      146.509995  308.440002   30287700.0   21518000.0
2018-08-21     ...      145.970001  321.899994   26159800.0   19578500.0
2018-08-22     ...      145.240005  321.640015   19018100.0   16894100.0
2018-08-23     ...      145.369995  320.100006   18883200.0   18053600.0
2018-08-24     ...      146.039993  322.820007   18476400.0   14631600.0
2018-08-27     ...      146.690002  319.269989   20525100.0   17921900.0
2018-08-28     ...      146.589996  311.859985   22776800.0   15910700.0
2018-08-29     ...      147.539993  305.010010   27254800.0   18494100.0
2018-08-30     ...      145.929993  303.149994   48793800.0   24216500.0
2018-08-31     ...      146.479996  301.660004   43340100.0   18065200.0
2018-09-04     ...      145.679993  288.950012   27390100.0   29809000.0
2018-09-05     ...      146.660004  280.739990   33333000.0   31226700.0
2018-09-06     ...      146.389999  280.950012   34261700.0   41486200.0

Attributes                           Adj Close                          \
Symbols            IBM        TSLA        AAPL          FB         IBM
Date
2014-12-31   4011900.0   2402100.0  103.302063   78.019997  137.212143
2015-01-02   5525500.0   4764400.0  102.319397   78.449997  138.597610
2015-01-05   4880400.0   5368500.0   99.436890   77.190002  136.416779
2015-01-06   6146700.0   6261900.0   99.446251   76.150002  133.474838
2015-01-07   4701800.0   2968400.0  100.840714   76.150002  132.602509
2015-01-08   4236800.0   3442500.0  104.715256   78.180000  135.484589
2015-01-09   4484800.0   4591300.0  104.827553   77.739998  136.074707
2015-01-12   4182800.0   5944200.0  102.244522   76.720001  133.791245
2015-01-13   4377500.0   4477300.0  103.152313   76.449997  134.107681
2015-01-14   4690300.0  11551900.0  102.759262   76.279999  133.243927
2015-01-15   4248400.0   5216500.0   99.970337   74.050003  132.191986
2015-01-16   5756000.0   3603200.0   99.193558   75.180000  134.389893
2015-01-20   8017800.0   4489400.0  101.748512   76.239998  134.227402
2015-01-21  11897100.0   4153000.0  102.525291   76.739998  130.070999
2015-01-22   6120100.0   4116900.0  105.192535   77.650002  132.893280
2015-01-23   4812200.0   3438600.0  105.735344   77.830002  133.303741
2015-01-26   7888100.0   3234500.0  105.847649   77.500000  133.722809
2015-01-27   5659600.0   2781000.0  102.141586   75.779999  131.422272
2015-01-28   4495900.0   3149600.0  107.915932   76.239998  129.609177
2015-01-29   8320800.0   3548100.0  111.275742   78.000000  132.970215
2015-01-30   6563600.0   3007000.0  109.647324   75.910004  131.114410
2015-02-02   4712200.0   4149200.0  111.023064   74.989998  132.268936
2015-02-03   5536300.0   4812900.0  111.041771   75.400002  135.527359
2015-02-04   3678500.0   3305400.0  111.893402   75.629997  134.235992
2015-02-05   5253600.0   3522900.0  112.692047   75.610001  135.048416
2015-02-06   3225000.0   3233200.0  111.743088   74.470001  134.970901
2015-02-09   3057700.0   3472400.0  112.485352   74.440002  134.135544
2015-02-10   4440600.0   5390500.0  114.646355   75.190002  136.555573
2015-02-11   3626700.0   9769100.0  117.333511   76.510002  136.245499
2015-02-12   3333100.0  15649600.0  118.818039   76.230003  136.521103
...                ...         ...         ...         ...         ...
2018-07-26   4778000.0   4630500.0  193.531265  176.259995  145.141937
2018-07-27   3749300.0   5703300.0  190.312546  174.889999  143.598602
2018-07-30   3608200.0   6814100.0  189.246292  171.059998  143.934967
2018-07-31   5474200.0   5076900.0  189.624954  172.580002  143.380951
2018-08-01   3388400.0  10129400.0  200.795792  171.649994  141.966232
2018-08-02   3841400.0  23215000.0  206.665207  176.369995  141.432022
2018-08-03   8053600.0  13656500.0  207.263107  177.779999  146.121338
2018-08-06   3913700.0   8564300.0  208.339340  185.690002  144.469193
2018-08-07   3508800.0  30875800.0  206.386185  183.809998  145.438721
2018-08-08   3581100.0  24571200.0  206.525696  185.179993  145.320007
2018-08-09   3093500.0  17103700.0  208.149994  183.089996  144.770004
2018-08-10   3003100.0  11552000.0  207.529999  180.259995  144.479996
2018-08-13   2858500.0  10450200.0  208.869995  180.050003  142.710007
2018-08-14   2860000.0   6986400.0  209.750000  181.110001  143.360001
2018-08-15   4241500.0   9101300.0  210.240005  179.529999  143.910004
2018-08-16   5250700.0   6064000.0  213.320007  174.699997  145.339996
2018-08-17   2678600.0  18958600.0  217.580002  173.800003  146.059998
2018-08-20   2499700.0  17402300.0  215.460007  172.500000  146.509995
2018-08-21   3106900.0  13172200.0  215.039993  172.619995  145.970001
2018-08-22   2389000.0   5946000.0  215.050003  173.639999  145.240005
2018-08-23   2220400.0   5147300.0  215.490005  172.899994  145.369995
2018-08-24   2776600.0   3602600.0  216.160004  174.649994  146.039993
2018-08-27   3491600.0  13079300.0  217.940002  177.460007  146.690002
2018-08-28   2455300.0   7649100.0  219.699997  176.259995  146.589996
2018-08-29   3153800.0   7447400.0  222.979996  175.899994  147.539993
2018-08-30   3340400.0   7216700.0  225.029999  177.639999  145.929993
2018-08-31   3488500.0   5375100.0  227.630005  175.729996  146.479996
2018-09-04   3326200.0   8350500.0  228.360001  171.160004  145.679993
2018-09-05   3126500.0   7720800.0  226.869995  167.179993  146.660004
2018-09-06   4248800.0   7475800.0  223.100006  162.529999  146.389999

Attributes
Symbols           TSLA
Date
2014-12-31  222.410004
2015-01-02  219.309998
2015-01-05  210.089996
2015-01-06  211.279999
2015-01-07  210.949997
2015-01-08  210.619995
2015-01-09  206.660004
2015-01-12  202.210007
2015-01-13  204.250000
2015-01-14  192.690002
2015-01-15  191.869995
2015-01-16  193.070007
2015-01-20  191.929993
2015-01-21  196.570007
2015-01-22  201.619995
2015-01-23  201.289993
2015-01-26  206.550003
2015-01-27  205.979996
2015-01-28  199.369995
2015-01-29  205.199997
2015-01-30  203.600006
2015-02-02  210.940002
2015-02-03  218.360001
2015-02-04  218.550003
2015-02-05  220.990005
2015-02-06  217.360001
2015-02-09  217.479996
2015-02-10  216.289993
2015-02-11  212.800003
2015-02-12  202.880005
...                ...
2018-07-26  306.649994
2018-07-27  297.179993
2018-07-30  290.170013
2018-07-31  298.140015
2018-08-01  300.839996
2018-08-02  349.540009
2018-08-03  348.170013
2018-08-06  341.989990
2018-08-07  379.570007
2018-08-08  370.339996
2018-08-09  352.450012
2018-08-10  355.489990
2018-08-13  356.410004
2018-08-14  347.640015
2018-08-15  338.690002
2018-08-16  335.450012
2018-08-17  305.500000
2018-08-20  308.440002
2018-08-21  321.899994
2018-08-22  321.640015
2018-08-23  320.100006
2018-08-24  322.820007
2018-08-27  319.269989
2018-08-28  311.859985
2018-08-29  305.010010
2018-08-30  303.149994
2018-08-31  301.660004
2018-09-04  288.950012
2018-09-05  280.739990
2018-09-06  280.950012

[928 rows x 24 columns]

In [17]:
df.items

<bound method DataFrame.iteritems of Attributes        High                                             Low  \
Symbols           AAPL          FB         IBM        TSLA        AAPL
Date
2014-12-31  113.129997   79.800003  161.500000  225.679993  110.209999
2015-01-02  111.440002   78.930000  163.309998  223.250000  107.349998
2015-01-05  108.650002   79.250000  161.270004  216.500000  105.410004
2015-01-06  107.430000   77.589996  159.960007  214.199997  104.629997
2015-01-07  108.199997   77.360001  157.199997  214.779999  106.699997
2015-01-08  112.150002   78.230003  159.039993  213.800003  108.699997
2015-01-09  113.250000   78.620003  160.339996  209.979996  110.209999
2015-01-12  112.629997   78.000000  159.250000  204.470001  108.800003
2015-01-13  112.800003   78.080002  159.970001  207.610001  108.910004
2015-01-14  110.489998   77.199997  156.490005  195.199997  108.500000
2015-01-15  110.059998   76.570000  156.970001  195.750000  106.660004
2015-01-16  107.580002   75.320000  157.630005  194.490005  105.199997
2015-01-20  108.970001   76.309998  157.330002  194.119995  106.500000
2015-01-21  111.059998   77.300003  154.500000  198.679993  108.269997
2015-01-22  112.470001   77.750000  155.720001  203.240005  109.720001
2015-01-23  113.750000   78.190002  157.600006  203.500000  111.529999
2015-01-26  114.360001   78.470001  159.460007  208.619995  112.800003
2015-01-27  112.480003   76.879997  155.089996  208.029999  109.029999
2015-01-28  118.120003   77.639999  154.529999  206.369995  115.309998
2015-01-29  119.190002   78.019997  155.580002  205.979996  115.559998
2015-01-30  120.000000   78.160004  155.240005  207.470001  116.849998
2015-02-02  119.169998   76.139999  154.660004  211.949997  116.080002
2015-02-03  119.089996   75.580002  158.600006  220.369995  117.610001
2015-02-04  120.510002   76.349998  158.710007  221.479996  118.309998
2015-02-05  120.230003   75.980003  158.589996  225.479996  119.250000
2015-02-06  120.250000   75.699997  158.080002  223.399994  118.449997
2015-02-09  119.839996   74.830002  157.500000  217.929993  118.430000
2015-02-10  122.150002   75.339996  158.559998  220.500000  120.160004
2015-02-11  124.919998   76.750000  159.089996  214.740005  122.500000
2015-02-12  127.480003   76.870003  159.500000  203.089996  125.570000
...                ...         ...         ...         ...         ...
2018-07-26  195.960007  180.130005  149.270004  310.700012  193.610001
2018-07-27  195.190002  179.929993  147.139999  307.690002  190.100006
2018-07-30  192.199997  175.300003  146.240005  296.100006  189.070007
2018-07-31  192.139999  174.240005  145.800003  298.320007  189.339996
2018-08-01  201.759995  175.080002  145.190002  303.000000  197.309998
2018-08-02  208.380005  176.789993  143.360001  349.989990  200.350006
2018-08-03  208.740005  178.850006  147.919998  355.000000  205.479996
2018-08-06  209.250000  185.789993  147.199997  354.980011  207.070007
2018-08-07  209.500000  188.300003  147.639999  387.459991  206.759995
2018-08-08  207.809998  186.850006  147.429993  382.640015  204.520004
2018-08-09  209.779999  186.570007  145.940002  367.010010  207.199997
2018-08-10  209.100006  182.100006  145.070007  360.000000  206.669998
2018-08-13  210.949997  182.610001  144.300003  363.190002  207.699997
2018-08-14  210.559998  181.990005  143.820007  359.200012  208.259995
2018-08-15  210.740005  180.869995  144.000000  344.489990  208.330002
2018-08-16  213.809998  180.500000  145.679993  342.279999  211.470001
2018-08-17  217.949997  176.220001  146.389999  326.769989  213.160004
2018-08-20  219.179993  174.570007  147.160004  308.500000  215.110001
2018-08-21  217.190002  174.169998  147.119995  324.790009  214.029999
2018-08-22  216.360001  174.240005  146.160004  323.880005  213.839996
2018-08-23  217.050003  175.550003  145.520004  327.320007  214.600006
2018-08-24  216.899994  174.820007  146.089996  323.850006  215.110001
2018-08-27  218.740005  178.669998  147.619995  322.440002  216.330002
2018-08-28  220.539993  178.240005  146.990005  318.880005  218.919998
2018-08-29  223.490005  176.789993  147.929993  311.850006  219.410004
2018-08-30  228.259995  179.789993  147.300003  304.600006  222.399994
2018-08-31  228.869995  177.619995  146.779999  305.309998  226.000000
2018-09-04  229.179993  173.889999  146.190002  298.190002  226.630005
2018-09-05  229.669998  171.130005  146.750000  286.779999  225.100006
2018-09-06  227.350006  166.979996  147.660004  291.170013  221.300003

Attributes                                            Open              \
Symbols             FB         IBM        TSLA        AAPL          FB
Date
2014-12-31   77.860001  160.380005  222.250000  112.820000   79.540001
2015-01-02   77.699997  161.000000  213.259995  111.389999   78.580002
2015-01-05   76.860001  159.190002  207.160004  108.290001   77.980003
2015-01-06   75.360001  155.169998  204.210007  106.540001   77.230003
2015-01-07   75.820000  154.029999  209.779999  107.199997   76.760002
2015-01-08   76.080002  155.550003  210.009995  109.230003   76.739998
2015-01-09   77.199997  157.250000  204.960007  112.669998   78.199997
2015-01-12   76.209999  155.759995  199.250000  112.599998   77.839996
2015-01-13   75.849998  155.679993  200.910004  111.430000   77.230003
2015-01-14   76.029999  153.740005  185.000000  109.040001   76.419998
2015-01-15   73.540001  154.160004  190.000000  110.000000   76.400002
2015-01-16   73.839996  153.820007  189.649994  107.029999   74.040001
2015-01-20   74.820000  154.029999  187.039993  107.839996   75.720001
2015-01-21   75.849998  151.070007  189.509995  108.949997   76.160004
2015-01-22   76.680000  151.759995  195.199997  110.260002   77.169998
2015-01-23   77.040001  154.889999  198.330002  112.300003   77.650002
2015-01-26   77.290001  155.770004  201.050003  113.739998   77.980003
2015-01-27   75.629997  152.589996  203.300003  112.419998   76.709999
2015-01-28   76.000000  151.550003  198.419998  117.629997   76.900002
2015-01-29   74.209999  149.520004  196.500000  116.320000   76.849998
2015-01-30   75.750000  153.039993  203.000000  118.400002   78.000000
2015-02-02   73.750000  151.509995  203.300003  118.050003   76.110001
2015-02-03   73.860001  154.750000  211.270004  118.500000   75.190002
2015-02-04   75.010002  156.699997  216.800003  118.500000   75.089996
2015-02-05   75.209999  157.149994  219.639999  120.019997   75.709999
2015-02-06   74.250000  156.229996  216.500000  120.019997   75.680000
2015-02-09   73.449997  155.399994  211.990005  118.550003   74.050003
2015-02-10   74.500000  155.080002  215.000000  120.169998   74.849998
2015-02-11   75.029999  157.169998  207.279999  122.769997   75.089996
2015-02-12   75.889999  158.089996  193.279999  126.059998   76.860001
...                ...         ...         ...         ...         ...
2018-07-26  173.750000  146.630005  303.640015  194.610001  174.889999
2018-07-27  173.000000  144.660004  295.339996  194.990005  179.869995
2018-07-30  166.559998  144.690002  286.130005  191.899994  175.300003
2018-07-31  170.000000  144.160004  289.070007  190.300003  170.669998
2018-08-01  170.899994  143.339996  293.000000  199.130005  173.929993
2018-08-02  170.270004  142.330002  323.160004  200.580002  170.679993
2018-08-03  176.149994  143.000000  342.529999  207.029999  177.690002
2018-08-06  178.380005  145.570007  341.820007  208.000000  178.970001
2018-08-07  183.720001  146.350006  339.149994  209.320007  186.500000
2018-08-08  183.759995  146.240005  367.119995  206.050003  184.750000
2018-08-09  182.479996  144.729996  345.730011  207.279999  185.850006
2018-08-10  179.419998  143.880005  346.000000  207.360001  182.039993
2018-08-13  178.899994  142.529999  349.019989  207.699997  180.100006
2018-08-14  178.619995  142.929993  347.100006  210.160004  180.710007
2018-08-15  174.779999  142.000000  332.140015  209.220001  179.339996
2018-08-16  174.009995  144.369995  333.820007  211.750000  180.419998
2018-08-17  172.039993  144.690002  303.529999  213.440002  174.500000
2018-08-20  170.910004  146.149994  288.200012  218.100006  174.039993
2018-08-21  171.389999  145.889999  309.000000  216.800003  172.809998
2018-08-22  172.130005  145.190002  314.670013  214.100006  172.210007
2018-08-23  172.830002  144.750000  318.100006  214.649994  173.089996
2018-08-24  172.919998  144.869995  319.399994  216.600006  173.699997
2018-08-27  175.789993  146.520004  308.809998  217.149994  175.990005
2018-08-28  175.830002  146.190002  311.190002  219.009995  178.100006
2018-08-29  174.750000  146.600006  303.690002  220.149994  176.300003
2018-08-30  175.699997  145.250000  297.720001  223.250000  175.899994
2018-08-31  174.979996  145.539993  298.600006  226.509995  177.149994
2018-09-04  168.800003  144.809998  288.000000  228.410004  173.500000
2018-09-05  166.669998  145.050003  277.179993  228.990005  169.490005
2018-09-06  160.000000  145.539993  278.880005  226.229996  166.979996

Attributes     ...           Close                   Volume               \
Symbols        ...             IBM        TSLA         AAPL           FB
Date           ...
2014-12-31     ...      160.440002  222.410004   41403400.0   20040400.0
2015-01-02     ...      162.059998  219.309998   53204600.0   18177500.0
2015-01-05     ...      159.509995  210.089996   64285500.0   26452200.0
2015-01-06     ...      156.070007  211.279999   65797100.0   27399300.0
2015-01-07     ...      155.050003  210.949997   40105900.0   22045300.0
2015-01-08     ...      158.419998  210.619995   59364500.0   23961000.0
2015-01-09     ...      159.110001  206.660004   53699500.0   21138700.0
2015-01-12     ...      156.440002  202.210007   49650800.0   19190200.0
2015-01-13     ...      156.809998  204.250000   67091900.0   25179600.0
2015-01-14     ...      155.800003  192.690002   48337000.0   25918600.0
2015-01-15     ...      154.570007  191.869995   60014000.0   34134000.0
2015-01-16     ...      157.139999  193.070007   78513300.0   21791500.0
2015-01-20     ...      156.949997  191.929993   49899900.0   22751300.0
2015-01-21     ...      152.089996  196.570007   48575900.0   25096700.0
2015-01-22     ...      155.389999  201.619995   53796400.0   19519500.0
2015-01-23     ...      155.869995  201.289993   46464800.0   16322600.0
2015-01-26     ...      156.360001  206.550003   55615000.0   19260800.0
2015-01-27     ...      153.669998  205.979996   95568700.0   20110000.0
2015-01-28     ...      151.550003  199.369995  146477100.0   53306400.0
2015-01-29     ...      155.479996  205.199997   84436400.0   61293500.0
2015-01-30     ...      153.309998  203.600006   83745500.0   42649500.0
2015-02-02     ...      154.660004  210.940002   62739100.0   41955300.0
2015-02-03     ...      158.470001  218.360001   51915700.0   26874900.0
2015-02-04     ...      156.960007  218.550003   70149700.0   20277400.0
2015-02-05     ...      157.910004  220.990005   42246200.0   15062600.0
2015-02-06     ...      156.720001  217.360001   43706600.0   20989300.0
2015-02-09     ...      155.750000  217.479996   38889800.0   16194300.0
2015-02-10     ...      158.559998  216.289993   62008500.0   15811300.0
2015-02-11     ...      158.199997  212.800003   73561800.0   20877400.0
2015-02-12     ...      158.520004  202.880005   74474500.0   17235000.0
...            ...             ...         ...          ...          ...
2018-07-26     ...      146.710007  306.649994   19076000.0  169803700.0
2018-07-27     ...      145.149994  297.179993   24024000.0   60073700.0
2018-07-30     ...      145.490005  290.170013   21029500.0   65280800.0
2018-07-31     ...      144.929993  298.140015   39373000.0   40356500.0
2018-08-01     ...      143.500000  300.839996   67935700.0   34042100.0
2018-08-02     ...      142.960007  349.540009   62404000.0   32400000.0
2018-08-03     ...      147.699997  348.170013   33447400.0   24763400.0
2018-08-06     ...      146.029999  341.989990   25425400.0   49716200.0
2018-08-07     ...      147.009995  379.570007   25587400.0   33398600.0
2018-08-08     ...      146.889999  370.339996   22525500.0   22205200.0
2018-08-09     ...      144.770004  352.450012   23469200.0   19696700.0
2018-08-10     ...      144.479996  355.489990   24611200.0   21500400.0
2018-08-13     ...      142.710007  356.410004   25869100.0   17369400.0
2018-08-14     ...      143.360001  347.640015   20748000.0   19102000.0
2018-08-15     ...      143.910004  338.690002   28807600.0   33020200.0
2018-08-16     ...      145.339996  335.450012   28500400.0   31351800.0
2018-08-17     ...      146.059998  305.500000   35427000.0   24893200.0
2018-08-20     ...      146.509995  308.440002   30287700.0   21518000.0
2018-08-21     ...      145.970001  321.899994   26159800.0   19578500.0
2018-08-22     ...      145.240005  321.640015   19018100.0   16894100.0
2018-08-23     ...      145.369995  320.100006   18883200.0   18053600.0
2018-08-24     ...      146.039993  322.820007   18476400.0   14631600.0
2018-08-27     ...      146.690002  319.269989   20525100.0   17921900.0
2018-08-28     ...      146.589996  311.859985   22776800.0   15910700.0
2018-08-29     ...      147.539993  305.010010   27254800.0   18494100.0
2018-08-30     ...      145.929993  303.149994   48793800.0   24216500.0
2018-08-31     ...      146.479996  301.660004   43340100.0   18065200.0
2018-09-04     ...      145.679993  288.950012   27390100.0   29809000.0
2018-09-05     ...      146.660004  280.739990   33333000.0   31226700.0
2018-09-06     ...      146.389999  280.950012   34261700.0   41486200.0

Attributes                           Adj Close                          \
Symbols            IBM        TSLA        AAPL          FB         IBM
Date
2014-12-31   4011900.0   2402100.0  103.302063   78.019997  137.212143
2015-01-02   5525500.0   4764400.0  102.319397   78.449997  138.597610
2015-01-05   4880400.0   5368500.0   99.436890   77.190002  136.416779
2015-01-06   6146700.0   6261900.0   99.446251   76.150002  133.474838
2015-01-07   4701800.0   2968400.0  100.840714   76.150002  132.602509
2015-01-08   4236800.0   3442500.0  104.715256   78.180000  135.484589
2015-01-09   4484800.0   4591300.0  104.827553   77.739998  136.074707
2015-01-12   4182800.0   5944200.0  102.244522   76.720001  133.791245
2015-01-13   4377500.0   4477300.0  103.152313   76.449997  134.107681
2015-01-14   4690300.0  11551900.0  102.759262   76.279999  133.243927
2015-01-15   4248400.0   5216500.0   99.970337   74.050003  132.191986
2015-01-16   5756000.0   3603200.0   99.193558   75.180000  134.389893
2015-01-20   8017800.0   4489400.0  101.748512   76.239998  134.227402
2015-01-21  11897100.0   4153000.0  102.525291   76.739998  130.070999
2015-01-22   6120100.0   4116900.0  105.192535   77.650002  132.893280
2015-01-23   4812200.0   3438600.0  105.735344   77.830002  133.303741
2015-01-26   7888100.0   3234500.0  105.847649   77.500000  133.722809
2015-01-27   5659600.0   2781000.0  102.141586   75.779999  131.422272
2015-01-28   4495900.0   3149600.0  107.915932   76.239998  129.609177
2015-01-29   8320800.0   3548100.0  111.275742   78.000000  132.970215
2015-01-30   6563600.0   3007000.0  109.647324   75.910004  131.114410
2015-02-02   4712200.0   4149200.0  111.023064   74.989998  132.268936
2015-02-03   5536300.0   4812900.0  111.041771   75.400002  135.527359
2015-02-04   3678500.0   3305400.0  111.893402   75.629997  134.235992
2015-02-05   5253600.0   3522900.0  112.692047   75.610001  135.048416
2015-02-06   3225000.0   3233200.0  111.743088   74.470001  134.970901
2015-02-09   3057700.0   3472400.0  112.485352   74.440002  134.135544
2015-02-10   4440600.0   5390500.0  114.646355   75.190002  136.555573
2015-02-11   3626700.0   9769100.0  117.333511   76.510002  136.245499
2015-02-12   3333100.0  15649600.0  118.818039   76.230003  136.521103
...                ...         ...         ...         ...         ...
2018-07-26   4778000.0   4630500.0  193.531265  176.259995  145.141937
2018-07-27   3749300.0   5703300.0  190.312546  174.889999  143.598602
2018-07-30   3608200.0   6814100.0  189.246292  171.059998  143.934967
2018-07-31   5474200.0   5076900.0  189.624954  172.580002  143.380951
2018-08-01   3388400.0  10129400.0  200.795792  171.649994  141.966232
2018-08-02   3841400.0  23215000.0  206.665207  176.369995  141.432022
2018-08-03   8053600.0  13656500.0  207.263107  177.779999  146.121338
2018-08-06   3913700.0   8564300.0  208.339340  185.690002  144.469193
2018-08-07   3508800.0  30875800.0  206.386185  183.809998  145.438721
2018-08-08   3581100.0  24571200.0  206.525696  185.179993  145.320007
2018-08-09   3093500.0  17103700.0  208.149994  183.089996  144.770004
2018-08-10   3003100.0  11552000.0  207.529999  180.259995  144.479996
2018-08-13   2858500.0  10450200.0  208.869995  180.050003  142.710007
2018-08-14   2860000.0   6986400.0  209.750000  181.110001  143.360001
2018-08-15   4241500.0   9101300.0  210.240005  179.529999  143.910004
2018-08-16   5250700.0   6064000.0  213.320007  174.699997  145.339996
2018-08-17   2678600.0  18958600.0  217.580002  173.800003  146.059998
2018-08-20   2499700.0  17402300.0  215.460007  172.500000  146.509995
2018-08-21   3106900.0  13172200.0  215.039993  172.619995  145.970001
2018-08-22   2389000.0   5946000.0  215.050003  173.639999  145.240005
2018-08-23   2220400.0   5147300.0  215.490005  172.899994  145.369995
2018-08-24   2776600.0   3602600.0  216.160004  174.649994  146.039993
2018-08-27   3491600.0  13079300.0  217.940002  177.460007  146.690002
2018-08-28   2455300.0   7649100.0  219.699997  176.259995  146.589996
2018-08-29   3153800.0   7447400.0  222.979996  175.899994  147.539993
2018-08-30   3340400.0   7216700.0  225.029999  177.639999  145.929993
2018-08-31   3488500.0   5375100.0  227.630005  175.729996  146.479996
2018-09-04   3326200.0   8350500.0  228.360001  171.160004  145.679993
2018-09-05   3126500.0   7720800.0  226.869995  167.179993  146.660004
2018-09-06   4248800.0   7475800.0  223.100006  162.529999  146.389999

Attributes
Symbols           TSLA
Date
2014-12-31  222.410004
2015-01-02  219.309998
2015-01-05  210.089996
2015-01-06  211.279999
2015-01-07  210.949997
2015-01-08  210.619995
2015-01-09  206.660004
2015-01-12  202.210007
2015-01-13  204.250000
2015-01-14  192.690002
2015-01-15  191.869995
2015-01-16  193.070007
2015-01-20  191.929993
2015-01-21  196.570007
2015-01-22  201.619995
2015-01-23  201.289993
2015-01-26  206.550003
2015-01-27  205.979996
2015-01-28  199.369995
2015-01-29  205.199997
2015-01-30  203.600006
2015-02-02  210.940002
2015-02-03  218.360001
2015-02-04  218.550003
2015-02-05  220.990005
2015-02-06  217.360001
2015-02-09  217.479996
2015-02-10  216.289993
2015-02-11  212.800003
2015-02-12  202.880005
...                ...
2018-07-26  306.649994
2018-07-27  297.179993
2018-07-30  290.170013
2018-07-31  298.140015
2018-08-01  300.839996
2018-08-02  349.540009
2018-08-03  348.170013
2018-08-06  341.989990
2018-08-07  379.570007
2018-08-08  370.339996
2018-08-09  352.450012
2018-08-10  355.489990
2018-08-13  356.410004
2018-08-14  347.640015
2018-08-15  338.690002
2018-08-16  335.450012
2018-08-17  305.500000
2018-08-20  308.440002
2018-08-21  321.899994
2018-08-22  321.640015
2018-08-23  320.100006
2018-08-24  322.820007
2018-08-27  319.269989
2018-08-28  311.859985
2018-08-29  305.010010
2018-08-30  303.149994
2018-08-31  301.660004
2018-09-04  288.950012
2018-09-05  280.739990
2018-09-06  280.950012

[928 rows x 24 columns]>

In [18]:
vol = df['Volume']
vol.head()

Symbols           AAPL          FB        IBM       TSLA
Date
2014-12-31  41403400.0  20040400.0  4011900.0  2402100.0
2015-01-02  53204600.0  18177500.0  5525500.0  4764400.0
2015-01-05  64285500.0  26452200.0  4880400.0  5368500.0
2015-01-06  65797100.0  27399300.0  6146700.0  6261900.0
2015-01-07  40105900.0  22045300.0  4701800.0  2968400.0

In [20]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year

C:\Users\kevindai\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\kevindai\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
vol.head()

Symbols           AAPL          FB        IBM       TSLA  week  year
Date
2014-12-31  41403400.0  20040400.0  4011900.0  2402100.0     1  2014
2015-01-02  53204600.0  18177500.0  5525500.0  4764400.0     1  2015
2015-01-05  64285500.0  26452200.0  4880400.0  5368500.0     2  2015
2015-01-06  65797100.0  27399300.0  6146700.0  6261900.0     2  2015
2015-01-07  40105900.0  22045300.0  4701800.0  2968400.0     2  2015

In [25]:
week = vol.groupby(['year','week']).sum()
week.head()

Symbols           AAPL           FB         IBM        TSLA
year week
2014 1      41403400.0   20040400.0   4011900.0   2402100.0
2015 1      53204600.0   18177500.0   5525500.0   4764400.0
     2     283252500.0  120996500.0  24450500.0  22632600.0
     3     303607000.0  126213900.0  23255000.0  30793100.0
     4     198737000.0   83690100.0  30847200.0  16197900.0

## Ex - GroupBy

In [26]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [27]:
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [28]:
drinks.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [29]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

In [30]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [31]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302