In [14]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import datetime as dt
import pandas_datareader.data as web
import scipy as sp

In [22]:
start = dt.datetime(1971,1,1)
ticker='FB'
df =web.DataReader(ticker, 'yahoo', start=start )
df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-08-31,177.619995,174.979996,177.149994,175.729996,18065200,175.729996
2018-09-04,173.889999,168.800003,173.500000,171.160004,29809000,171.160004
2018-09-05,171.130005,166.669998,169.490005,167.179993,31226700,167.179993
2018-09-06,166.979996,160.000000,166.979996,162.529999,41514800,162.529999
2018-09-07,164.630005,160.160004,160.309998,163.039993,24154100,163.039993

In [23]:
monthly = df.asfreq('BM')
monthly.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2012-05-31  29.670000  26.830000  28.549999  29.600000  111639200.0  29.600000
2012-06-29  31.990000  30.760000  31.920000  31.100000   19526900.0  31.100000
2012-07-31  23.370001  21.610001  23.370001  21.709999   56179400.0  21.709999
2012-08-31  18.700001  18.030001  18.680000  18.059999   58764200.0  18.059999
2012-09-28  21.950001  20.500000  20.570000  21.660000   65486000.0  21.660000

In [24]:
monthly['ret'] = ((monthly['Adj Close'] / monthly['Adj Close'].shift(1)) - 1)*100
monthly2 = monthly.dropna()
monthly2.head()

,High,Low,Open,Close,Volume,Adj Close,ret
Date,,,,,,,
2012-06-29,31.990000,30.760000,31.920000,31.100000,19526900.0,31.100000,5.067568
2012-07-31,23.370001,21.610001,23.370001,21.709999,56179400.0,21.709999,-30.192930
2012-08-31,18.700001,18.030001,18.680000,18.059999,58764200.0,18.059999,-16.812528
2012-09-28,21.950001,20.500000,20.570000,21.660000,65486000.0,21.660000,19.933558
2012-10-31,21.500000,20.730000,20.820000,21.110001,99378200.0,21.110001,-2.539239

In [25]:
ret_Jan = monthly2['ret'][monthly2.index.month == 1]
ret_Others = monthly2['ret'][monthly2.index.month != 1]

In [26]:
ret_Jan.mean(),  ret_Others.mean()

(9.093909784432652, 2.542965265233647)

In [28]:
sp.stats.ttest_ind(ret_Jan, ret_Others)

Ttest_indResult(statistic=1.4487004335479727, pvalue=0.15195066799631554)

In [20]:
stat, p_val = sp.stats.ttest_ind(ret_Jan, ret_Others)

2.1269599772955248